{% extends "index.html" %}
{% block style %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/assignments.css') }}">
{% endblock %}

{% block title %}
Assignments
{% endblock %}
{% block user_name %}
{{ value }}
{% endblock %}

{% block content %}
      <div class="content">      

      <h2>Assignments</h2>  

        <div class="table_grid">

          <div class="table_heading">Assignment</div>
          <div class="table_heading">Weight</div> 
          <div class="table_heading">Handout and Solution</div> 

          <div class="table_item">1: Relational Algebra and MySQL
            <p>Due Date: Feb. 1 2020, 11:59pm
               <p><a href="https://markus.utsc.utoronto.ca">Submit on MarkUs</a></p></p></div>
          <div class="table_item">15%</div>  
          <div class="table_item">
            <p><a href="{{url_for('static', filename='sample1.pdf')}}">Handout</a>, <a href="{{url_for('static', filename='sample1.pdf')}}">Solution</a></p>
          </div>  

          <div class="table_item">2: HTML, CSS, PHP
            <p>Due Date: Mar. 10 2020, 11:59pm
               <p><a href="https://markus.utsc.utoronto.ca">Submit on MarkUs</a></p></p></div>
          <div class="table_item">15%</div>  
          <div class="table_item">
            <p><a href="{{url_for('static', filename='sample1.pdf')}}">Handout</a>, <a href="{{url_for('static', filename='sample1.pdf')}}">Solution</a></p>
          </div>

          <div class="table_item">3: Web Application and Database
            <p>Due Date: Mar. 31 2020, 11:59pm
               <p><a href="https://markus.utsc.utoronto.ca">Submit on MarkUs</a></p></p></div>
          <div class="table_item">15%</div>  
          <div class="table_item">
            <p><a href="{{url_for('static', filename='sample1.pdf')}}">Handout</a>, <a href="{{url_for('static', filename='sample1.pdf')}}">Solution</a></p>
          </div>
          </div>             

      </div>
{% endblock %}


