<!DOCTYPE html>
<html>
<head>
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/login.css') }}">
	<title>Log In to CSCB20</title>
</head>
<body>

	<h2>{{ value }}</h2>

	<form action="/login" method="POST">
  		<input type="username" name="username" placeholder="Username">
		<input type="password" name="password" placeholder="Password">
		<input type="Submit" value="Log in">
	</form>

	<h3><a href="http://0.0.0.0:5000/register">Register</a></h3>

</body>
</html>



