<!DOCTYPE html>
<html>
	<head>
		<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/registration.css') }}">
	</head>
	<body>

		<h1>Registration Menu</h1>

		<form action="/registerform" method="POST">
  			<div class="container">
    
    			<p>Please fill in this form to create an account.</p>
    			<hr>

    			<label for="usn"><b>Username</b></label>
    			<input type="username2" placeholder="Enter Username" name="usn" required>

    			<label for="psw"><b>Password</b></label>
    			<input type="password" placeholder="Enter Password" name="psw" required>

    			<select id="user_type" name="User Type">
          			<option value="student">Student</option>
          			<option value="instructor">Instructor</option>
        		</select>
   				 <hr>

    			<p>By Registering, you agree to our <a href="{{url_for('static', filename='sample1.pdf')}}">Terms & Conditions</a>.</p>
    			<button type="submit" class="reg_button">Register</button>
  			</div>

  			<div class="login_active">
    			<p>If you already have an account, <a href="http://0.0.0.0:5000/login">Sign in</a>.</p>
  			</div>
		</form>

	</body>
</html>