.course_team_s {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.course_team_s a {
    color: #5F9EA0;
}

.course_team_s a:hover {
    color: #0088a9;
}

.team_member {
    flex: 1 1 30%;
    padding: 50px;
    display: inline;
}

.team_member img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    vertical-align: middle;
}

.mont_font {
    color: black;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
}